<% provide(:title, 'Команда') %>
<h1>Команда</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
			<%= gravatar_for user, size: 52 %>
			<%= link_to user.name, user %> - <%= user_role(user) %>
			<% if current_user.admin? && !current_user?(user) && !user.admin? %>
    	  | <%= link_to "Редактировать", edit_user_registration_path(user) %>
    		| <%= link_to "Удалить", user, method: :delete,
                                  data: { confirm: "Уверены?" } %>
  		<% end %>
		</li>
  <% end %>
</ul>

<%= will_paginate %>